
<footer class="d-flex flex-wrap justify-content-center between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 ms-5 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img class="bi me-4 netflix-x-logo" height="75" role="img" aria-label="Netflix-X"
                    src="/images/netflix-x-logo.png" />
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>
  </footer>
  <div id="loadingV2" class="hide">
    <div class="loading-big"></div><div class="loading-small"></div>
  </div>
<script>
    function showLoader() {
        $('#loadingV2').removeClass('hide');
    }
    $('.movie').click(showLoader);
    $('.watchDwn-button').click(showLoader);
    $('table a').click(showLoader);
    $('.netflix-x-logo').click(showLoader);
    
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>

</html>