<%- include('header.ejs' ,{page_title:`Stream
    ${title}`,moviesClasses:"underline",tvShowsClasses:"",myListClasses:"",style:'stream'}) %>


<div style="text-align: center;" class="container d-flex gap-5 flex-column mb-5 align-items-center">
    <h1 class="outfit-bold main-title">Stream: <%= title %></h1>
    <iframe src="https://vidsrc.pro/embed/movie/<%= id %>" allowfullscreen></iframe>
    <div class="container d-flex justify-content-center gap-3 align-items-center">
        <p class="outfit-light m-0">Powered By</p><a href="https://vidsrc.to/"><img height="20px" src="/images/vidsrc.png" /></a>
    </div>
</div>


<%- include('footer.ejs') %>